p.center,{
    border-width: 5px 10px 2px 20px;
    border-style: dashed;
    border-color: blue;
    margin: 25px 50px 75px 100px;
    padding: 25px 50px 75px;
}

p.Wow{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkfWpDjpyQp6Zs8haKmOEhkwjQ9BAcPAWzmcWSDhJnbA&s");
    background-size: 50%;
    padding: 200px;
    border-width: 5px 10px 5px 20px;
    margin: 50px;

}



/* p.center{
    border: 5px dashed purple
} */


/* p.center{color: rgb(125, 55, 225);}
h1.center{color: blue;}
h1, p {
    text-align: center;
    text-size-adjust: 70px;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkfWpDjpyQp6Zs8haKmOEhkwjQ9BAcPAWzmcWSDhJnbA&s");
    background-position: top;
    background-size: 40%;

    background-repeat: no-repeat;
} */